@import "styles/mixins";

.container {
    height: 72px;
    max-width: $desktop-view;
    margin: auto;
    padding: 0 40px;
    @include tablet(){
        height: auto;
        padding: 18px 30px;
    }
    @include phone(){
        height: auto;
        padding: 18px 20px;
    }
}

.fixedHeader {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

.blackColor{
    background-color: #151515;
    color: $white-color;
    transition: all 0.5s;
}

.whiteColor{
    background-color: white;
    color: $neutral-black-color;
    transition: all 0.5s;
}

.imageWrapper {
    width: 78px;
    height: 27px;
    position: relative;
    align-self: center;
    cursor: pointer;
}

.lastBtn{
    margin-left: 8px
}

.navTitle {
    align-items: center;
    a{
        @include text-16;
    }
}


