@import "styles/mixins";

.maxContainer{
  max-width: 600px;
  margin: 0px auto 72px auto;
  @include tablet() {
    max-width: fit-content;
    text-align: left;
    margin: 0px 0px 50px 0px;
  }
  @include phone() {
      text-align: left;
      margin: 0;
      margin: 0px 0px 40px 0px;
  }
}


.headerContainer {
  text-align: center;
  @include tablet() {
    text-align: left;
  }
}

.subTitle{
  @include font-subtitle;
  text-align: center;
  margin: 24px auto ;
  max-width: 600px;
  @include tablet() {
    margin: 16px 0;
    text-align: left;
  }
}

.imageScroll {
  max-width: 500px;
  padding: 0 20px 0 0;
  cursor: pointer;
  @include tablet() {
    max-width: 350px;
  }
  @include phone() {
    max-width: 200px;
  }
}

.buttonPadding {
  padding: 0;
}