@import "styles/mixins";

.container {
  display: flex !important;
  height: 100vh;
  justify-content: center !important;
  align-items: center !important;
  @include phone(){
    padding: 20px;
  }
}

.bodyContainer {
  max-width: 864px;
  text-align: center;
  @include miniScreen() {
    max-width: calc(100% - 96px);
    min-width: 450px;
  }
  @include phone() {
    max-width: calc(100% - 50px);
    min-width: 340px;
  }
}

.headerSubTitle {
  @include font-subtitle;
  color: $white-color;
  margin: 2.25rem auto;
}

.buttonPadding{
  margin: 0 10px;
}

// .imageAbsolute {
//   position: relative;
//   &-imageLeft {
//     height: 250px;
//     width: 250px;
//     position: absolute;
//     left: 0;
//     top: 100px;
//     z-index: 0;
//     @include tablet() {
//       height: 150px;
//       width: 150px;
//     }
//     @include phone() {
//       display: none;
//     }
//   }
//   &-imageRight {
//     height: 250px;
//     width: 250px;
//     position: absolute;
//     right: 0;
//     top: 250px;
//     z-index: 0;
//     @include tablet() {
//       height: 150px;
//       width: 150px;
//     }
//     @include phone() {
//       height: 150px;
//       width: 150px;
//       top: 40px;
//       // display: none;
//     }
//   }
// }