@import "styles/mixins";

.reviewContainer {
    background: $background-grey-color;
    border-radius: 12px;
    padding: 65px;
    transition: all 0.5s;
    @include tablet() {
        padding: 48px;
    }
    @include phone() {
        padding: 32px;
    }
    .titleList {
        @include font-title;
        padding-bottom: 4px;
        @include tablet(){
            padding-top: 8px;
        }
    }
    .listData {
        @include font-subtitle;
        @include tablet(){
            padding-bottom: 8px;
        }
    }
}

.reviewContainerBlack {
    background: $neutral-black-color;
    .titleList {
        color: $white-color;
    }
    .listData {
        color: $white-color;
    }
}