@import "styles/mixins";

.maxContainer{
  max-width: 600px;
  margin: auto;
  @include tablet() {
    max-width: fit-content;
    text-align: left;
  }
}

.pointTitle{
    margin-top: 66px;
    .whytitle{
      //vertical-align: middle;
      @include font-subtitle;
      @include medium;
      margin-bottom: 15px;
    }
    .whytext {
      @include font-text;
      margin-bottom: 20px;
    }
    .checkIcon{
      margin-bottom: 20px;
    }
    @include phone() {
        margin-top: 40px;
    }
}