@import "styles/mixins";

.maxContainer {
    max-width: 700px;
    padding-bottom: 160px;
    @include tablet() {
      max-width: none;
    }
}

.bodyContainer{
  margin: 40px 0 16px 0;
  @include tablet() {
    margin: 0px 0px 24px -12px;
  }
}

.footerContainer{
  display: flex;
  align-items: center;
  margin: 0 12px;
  @include tablet() {
    display: block;
    margin: 0px;
  }
}

.buttonPadding{
  margin: 0 24px 0 0;
  min-width: 140px;
  @include tablet() {
    display: block;
    margin: 10px 0;
  }
}

.padTitle{
  text-align: center;
  @include tablet() {
    text-align: left;
    margin-top: 20px;
    margin-left: 0px;
    @include text-24;
  }
}

.mb24px {
  margin-bottom: 24px;
  @include phone() {
    margin-bottom: 12px;
  }
}

.tncText {
  @include text-14;
  max-width: 262px;
  .linkText{
    color: $primary-color-main;
    text-decoration: underline;
    text-underline-offset: 4px;
    cursor: pointer;
  }
}